/* You can add global styles to this file, and also import other style files */
@import 'quill/dist/quill.snow.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background: #f5f7fb;
}
